@font-face {
    font-family: 'Ekstra-Regular';
    src: url('fonts/Ekstra-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TitlingGothicFBExt';
    src: url('fonts/TitlingGothicFBExt-Stand\ copy.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}



.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4em;
    background: #fff;
    z-index: 10;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 1em;
    font-family:'Ekstra-Regular';
    font-weight: 500;
    font-size: 12px;
}

.logo {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family:'TitlingGothicFBExt';
    padding: 1em;
    z-index: 99;
}

.logo-container {
    overflow: hidden;
}


.container {
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}

.content {
    width: 100%;
    height: 100%;
    background: whitesmoke;
    position: relative;
    padding: 0 4em;
}


.content img {
    width: 100%;
}

img {
    margin-bottom: 4em;
}


.text-content {
    padding: 10%;
    font-size: 28px;
    font-family: 'Ekstra-Regular';
    text-transform: uppercase;
    line-height: 1.8em;
}


.projects {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    gap: 4em;
}


.project-img {
    width: 33%;
}

